.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}
.logo{
    color: white;
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

.headerRight input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
    font-size: 1rem;
}

.headerRight input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.headerRight .fa-search {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.headerRight .fa-search:hover {
    color: grey;
}
